

html, body {
    height: 100%;
    margin: 0;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1; 
}

/* Header */
.header {
    background-color: black;
    height: 80px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 8px solid #FFD700;
    position: relative; 
}
/* Ľavá ikona v headery */
.hamburger-menu {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px; 
}

.hamburger-menu span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white; 
}

/*  Pravá strana: Tlačidlá  */
.header-right {
    display: flex;
    align-items: center;
    gap: 20px; 
}

/* navigačné tlačidlá (AboutUs, home, app) */
.nav-btn {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 20px; 
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
}
/* hover efekt pre navigačné tlačidlá */
.nav-btn:hover {
    background-color: #ddd; 
} 

.header-logo {
    height: 80px; 
    width: auto;  
    display: block;
}

.header-center {
    position: absolute;       
    left: 50%;                
    transform: translateX(-50%); 
    
   
}

footer {
  position: relative;
  height: 65px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  border-top: #FFD700 8px solid;

}